/*------------------
		SPACING
-------------------*/
@use "../theme" as *;

$spacer-unit: 1.5rem;
$spacer-ratio: 0.25;

$spacer-position: (
	l: left,
	r: right,
	t: top,
	b: bottom,
);

// Default
@each $key, $value in $spacer-position {
	@for $i from 0 through 5 {
		// Margins
		.m#{$key}-#{$i} {
			margin-#{$value}: calc(#{$spacer-unit} * #{$spacer-ratio} * #{$i});
		}

		// Paddings
		.p#{$key}-#{$i} {
			padding-#{$value}: calc(#{$spacer-unit} * #{$spacer-ratio} * #{$i});
		}
	}
}

// Depending on breakpoints
@each $bk-key, $bk-value in $breakpoints-list {
	@media (min-width: #{$bk-value}) {
		// Margins
		@each $key, $value in $spacer-position {
			@for $i from 0 through 5 {
				.m#{$key}-#{$bk-key}-#{$i} {
					margin-#{$value}: calc(#{$spacer-unit} * #{$spacer-ratio} * #{$i});
				}

				// Paddings
				.p#{$key}-#{$bk-key}-#{$i} {
					padding-#{$value}: calc(#{$spacer-unit} * #{$spacer-ratio} * #{$i});
				}
			}
		}
	}
}
